:root{
    --fundo: #9370DB;
    --cor-texto: black;
    --cor-frente-cartao:#C0C0C0;
    --cor-verso-cartao: #6495ED;
    --preto: black;
    --branco: white;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    background-color: var(--preto);
    color: var(--branco);
    position: fixed;
    bottom: 0;
    width: 100%;

}